<div class="row text-center">
  <h1><%= @user_set.topic %></h1>
</div>
<div class="row text-center">
  <h4>Skill: <%= @user_set.skill %></h4>
</div>
<div class="row text-center">
  <h5> Team Size: <%= @user_set.team_size %></h5>
</div>
<div class="row text-center">
  <h5><%= link_to 'Join this Set', new_user_set_member_path(@user_set)  %></h5>
</div>

<div class="small-6 large-centered columns">
  <h5><%= link_to 'Update this Set', edit_user_set_path  %></h5>
  <h5><%= link_to 'Delete Set', @user_set, method: :delete, data: {confirm: "Are you sure?"} %></h5>
</div>
