<div class="row text-center">
  <h2>Join <%= @user_set.topic %></h2>
</div>
<div class="rows">
    <div class="columns small-6 small-offset-3">

    <%= form_for [@user_set, @member] do |f| %>
      <div class="field">
      <%= f.label :skill_strength %>
      <%= f.text_field :skill_strength %>
      </div>
      <div class="actions">
        <%= f.submit "Join Set of Teams", class: "button"%>
        <% end %>
      </div>
</div>


  <p><%= link_to "Back", user_set_path(@user_set) %></p>
</div>
